@model Baud.Deployment.BusinessLogic.Domain.Security.Entities.User
@using Baud.Deployment.Resources

@{
    ViewBag.Title = StringResources.UserDetail;
}

<h2>@ViewBag.Title</h2>

@using (var f = Html.BeginReadOnlyForm())
{
    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.Login)
        @s.FieldFor(m => m.FirstName)
        @s.FieldFor(m => m.LastName)
        @s.FieldFor(m => m.Email)
        @s.FieldFor(m => m.ActiveFrom)
        @s.FieldFor(m => m.ActiveTo)
        @s.FieldFor(m => m.Note)
    }
}

@Html.GuardedActionLink(StringResources.BackToList, MVC.Security.Users.Index(), new SimpleHtmlAttributes("class", "btn btn-default"))
@Html.GuardedActionLink(StringResources.Edit, MVC.Security.Users.Edit(Model.ID), new SimpleHtmlAttributes("class", "btn btn-default"))