@model PagedList.PagedList<Baud.Deployment.BusinessLogic.Domain.Security.Entities.Position>
@using PagedList.Mvc
@using Baud.Deployment.Resources
@{
    var filter = (Baud.Deployment.Web.Areas.Security.Models.Positions.IndexFilter)ViewBag.Filter;
    ViewBag.Title = StringResources.Positions;
}

<h2>@ViewBag.Title</h2>

<div class="well">
    @using (var f = Html.BeginCustomForm(method: FormMethod.Get))
    {
        using (var s = f.BeginSection(StringResources.Filter))
        {
            @s.FieldFor(m => filter.Name)
            @s.FieldFor(m => filter.IsActive).WithTrueAs(StringResources.Yes).WithFalseAs(StringResources.No).WithNoneAs(StringResources.Neither_Filter)
        }

        using (var s = f.BeginNavigation())
        {
            @s.Submit(StringResources.Filter_Submit)
        }
    }
</div>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.SortingLink(m => m[0].Name)</th>
                <th>@Html.SortingLink(m => m[0].IsActive)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <tr>
                    <td>@position.Name</td>
                    <td>@position.IsActive.ToString("YN")</td>
                    <td>@Html.GuardedActionLink(StringResources.EditName, MVC.Security.Positions.UpdateName(position.ID))</td>
                    @if (position.IsActive)
                    {
                        <td>@Html.GuardedActionLink(StringResources.Disable, MVC.Security.Positions.Disable(position.ID))</td>
                    }
                    else 
                    {
                        <td>@Html.GuardedActionLink(StringResources.Enable, MVC.Security.Positions.Enable(position.ID))</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager(Model, page => Url.CurrentWithPageNumber(page), PagedListRenderOptions.OnlyShowFivePagesAtATime)
}
else
{
    <p>@StringResources.NoData</p>
}