@model Baud.Deployment.BusinessLogic.Domain.Security.Entities.Role
@using Baud.Deployment.Resources

@{
    ViewBag.Title = StringResources.RoleDetail;
}

<h2>@ViewBag.Title</h2>

@using (var f = Html.BeginReadOnlyForm())
{
    using (var s = f.BeginSection())
    {
        @s.FieldFor(m => m.Name)
        @s.FieldFor(m => m.IsActive)

        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h3>@StringResources.Positions</h3>
                    <div class="form-group">
                        @foreach (var position in Model.PositionLinks)
                        {
                            @s.FieldFor(m => position.Position.Name).Label("")
                        }
                    </div>
                </div>
            </div>
        </div>


    }
}

@Html.GuardedActionLink(StringResources.BackToList, MVC.Security.Roles.Index(), new SimpleHtmlAttributes("class", "btn btn-default"))


