@model PagedList.PagedList<Baud.Deployment.BusinessLogic.Domain.Security.Entities.Role>
@using PagedList.Mvc
@using Baud.Deployment.Resources
@{
    var filter = (Baud.Deployment.Web.Areas.Security.Models.Roles.IndexFilter)ViewBag.Filter;
    ViewBag.Title = @StringResources.Roles;
}

<h2>@ViewBag.Title</h2>

<div class="well">
    @using (var f = Html.BeginCustomForm(method: FormMethod.Get))
    {
        using (var s = f.BeginSection(@StringResources.Filter))
        {
            @s.FieldFor(m => filter.Name)
            @s.FieldFor(m => filter.IsActive).WithTrueAs(@StringResources.Yes).WithFalseAs(@StringResources.No).WithNoneAs(@StringResources.Neither_Filter)
        }

        using (var s = f.BeginNavigation())
        {
            @s.Submit(@StringResources.Filter_Submit)
        }
    }
</div>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.SortingLink(m => m[0].Name)</th>
                <th>@Html.SortingLink(m => m[0].IsActive)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.IsActive</td>
                    <td>@Html.GuardedActionLink(@StringResources.Detail, MVC.Security.Roles.Detail(role.ID))</td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager(Model, page => Url.CurrentWithPageNumber(page), PagedListRenderOptions.OnlyShowFivePagesAtATime)
}
else
{
    <p>@StringResources.NoData</p>
}